CompileFlags:
  Remove:
    - "-fno-tree-switch-conversion"
    - "-mlongcalls"
    - "-fno-builtin-memcpy"
    - "-fno-builtin-memset"
    - "-fno-builtin-bzero"
    - "-mdisable-hardware-atomics"
    - "-mfix-esp32-psram-cache-issue"
    - "-mfix-esp32-psram-cache-strategy=memw"
    - "-fno-rtti"
    - "-fno-jump-tables"
    - "-fstrict-volatile-bitfields"
    - "--target=xtensa*"
    - "--target=esp*"
    - "-m*"
  Add:
    - --target=thumbv7em-none-eabi
    - -I/data/project/arduino/libraries/gnl-timer/src
